<h2>Session Listing<h2>
  <ul>
    <% @sessions.each do |session| %>
    <li><a href="/sessions/<%= session.id %>"><%= session.type %> <%= session.date %></a></li>
    <% end %>
  </ul>
  <a href="/sessions/new">Create New Session</a>
  <h3><a href="/photographers">Back to Welcome Page</a></h3>
<br>
