<h3>New Client</h3>
<form action="/clients" method="POST">

  <input type="text" id="firstname" name="firstname" placeholder="First Name:">
  <input type="text" id="lastname" name="lastname" placeholder="Last name:">
  <input type="text" id="email" name="email" placeholder="Email:">
  <input type="submit" id="submit" value="Create">
</form>

<p><a href="/clients">BACK</a></p>
