<% if logged_in? %>
    <h3>You are Signed in already feel free to go to your profile, our client/session database or Log out</h3>
    <p><a href="/photographers">Photographers List</a></p>
    <p><a href="/clients">Clients List</a></p>
    <p><a href="/sessions">Sessions List</a></p>
<% end %>
