<!doctype html>
<html>
  <head>
    <title>Photographer Workflow Database</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <a href="/"><img src="images/LOGO.jpg" alt="juan s1u brand logo"></a>
    <br>
    <br>
    <div id="title">Photographer Workflow Database</div>
    <br>
          <% if logged_in? %>
          <a href="/photographers/<%= current_user.slug %>">User Profile </a>
          <br>
          <a href="/logout"> Log Out </a>
          <p>Login as <%=current_user.username %>!</p>
          <% else %>
          <h2>Welcome!!!</h2>
          <a href="/signup">Sign Up</a>
          <br>
          <a href="/login"> Sign In </a>
          <%end %>

    <div class="container">

      <%= yield %>

  </body>
</html>
